# name: Build Xamarin Android

# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main

# jobs:
#   build:
#     runs-on: macos-latest

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v2

#       - name: Setup .NET
#         uses: actions/setup-dotnet@v1
#         with:
#           dotnet-version: '6.0.x'

#       - name: Restore NuGet packages
#         run: dotnet restore

#       - name: Build Android
#         run: MSBuild **/*droid*.csproj /t:PackageForAndroid /p:Configuration=Debug

#       - name: Upload a Build Artifact
#         uses: actions/upload-artifact@v3.1.0
#         with:
#           path: |
#             ./**/**/*.aab
#             ./**/**/*.apk

name: Build Xamarin.Android app

on: [push]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    # - name: Set default Xamarin SDK versions
    #   run: |
    #     $VM_ASSETS/select-xamarin-sdk-v2.sh --mono=6.10 --android=10.2

    - name: Setup .NET Core SDK 5.0.x
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '5.0.x'

    - name: Install dependencies
      run: nuget restore PikaScope.sln

    - name: Build
      run: msbuild **/*droid*.csproj /t:PackageForAndroid /p:Configuration=Debug

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        path: |
          ./**/**/*.aab
          ./**/**/*.apk